$primary: #696f5a;
$secondary: #5b635a;
$success: #dce1d0;
$body-color: #eeebe2;
$light: #eeebe2;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// custom css
section {
  border-top: 0.5px solid lightgray;
}
